:root{
    --multirow-n-rows: 3;
    --multirow-tab-min-width: 100px;
    --multirow-tab-dynamic-width: 1; /* Change to 0 for fixed-width tabs using the above width. */
}

#tabbrowser-tabs{
  min-height: unset !important;
  padding-inline-start: 0px !important;
}

#tabbrowser-tabs > .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: calc(var(--tab-min-height) * var(--multirow-n-rows));
  scrollbar-color: var(--toolbar-bgcolor) var(--lwt-accent-color);
  scrollbar-width: thin;
}
#tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  overflow: -moz-hidden-unscrollable;
  display: block;
}

.tabbrowser-tab{ height: var(--tab-min-height); }
#tabbrowser-tabs .tabbrowser-tab[pinned]{
  position: static !important;
  margin-inline-start: 0px !important;
}

.tabbrowser-tab[fadein]:not([pinned]){
  min-width: var(--multirow-tab-min-width) !important;
  flex-grow: var(--multirow-tab-dynamic-width);
  /*
  Uncomment to enable full-width tabs, also makes tab dragging a tiny bit more sensible
  Don't set to none or you'll see errors in console when closing tabs
  */
  /*max-width: 100vw !important;*/
}

.tabbrowser-tab > stack{ width: 100%; height: 100% }

#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
#alltabs-button,
:root:not([customizing]) #TabsToolbar #new-tab-button,
#tabbrowser-tabs spacer,
.tabbrowser-tab::after{ display: none !important }

/** Cole's Tab Fix **/
.titlebar-spacer {
  width: 20px !important;
}
.arrowscrollbox-scrollbox, .titlebar-buttonbox-container {
  overflow: hidden !important;
}
.titlebar-buttonbox {
  max-height: 41px;
}
